* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

:root {
  --ubuntutheme-bgcol: #4b082c;
  --ubuntutheme-text: white;

  --darktheme-bgcol: black;
  --dark-theme-text: #ffffff;

  --lighttheme-bgcol: #fff;
  --lighttheme-text: black;
}

body {
  background-color: var(--darktheme-bgcol);
  color: var(--dark-theme-text);
}

button {
  color: white;
  background-color: #0b7dda;
  border: none;
  padding: 18px 40px;
  font-size: 16px;
  border-radius: 12px;
}

button:hover {
  background-color: #069aed;
  cursor: pointer;
  font-weight: 500;
}

button#prev-button {
  position: absolute;
  left: 200px;
  margin-top: 20px;
}

button#next-button {
  position: absolute;
  right: 240px;
  margin-top: 20px;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
  text-align: center;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin-bottom: 2px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#song-name {
  color: #069aed;
  text-align: center;
  font-size: 30px;
  position: relative;
  top: 10px;
}

p {
  font-size: 16px;
  color: #000;
  margin-bottom: 10px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.song {
  font-size: 18px;
  font-weight: bold;
  color: #069aed;
  margin-bottom: 10px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

audio {
  width: 100%;
}

audio:hover,
audio:focus,
audio:active {
  -webkit-box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
}

#visualiser-canvas {
  width: 60vw;
  height: 70vh;
  margin: auto;
  display: block;
}

#main-song-audio {
  width: 50%;
  margin: 50px auto;
  display: block;
}
